
.background {
    min-height: calc(100vh - 56px);
    min-width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background: rgb(92,255,231);
    background: radial-gradient(circle, rgba(92,255,231,0.468312324929972) 0%, rgba(33,110,195,0.2666316526610645) 100%);
}