.homescreen {
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homescreen-bg {
    /* Image is 500px * 500px */
    /* Scales the image to 80% for better resolution */
    height: 240px;
    width: 400px;
    /* Crops the excessive space above and below the subject */
    object-fit: cover;
}

.slider {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    display: block;
    max-width: 55%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.right-arrow {
    position: absolute;
    top: 33%;
    right: 26%;
    font-size: 6vw;
    color: #005d70;
    z-index: 10;
    cursor: pointer;
    user-select: none;

}

.left-arrow {
    position: absolute;
    top: 33%;
    left: 26%;
    font-size: 6vw;
    color: #005d70;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    transition: ease-in-out;
    transition-duration: 1s;
}

.slide.active {
    transition: ease-in-out;
    transition-duration: 1s;
}

.find {
    text-align: center;
}

.find-section {
    position: relative;
    top: -220px;
}